
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#wrapper{
    width: 1280px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  position: relative !important;
}


#wrapper8{
  width: 1280px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#wrapper10{
  width: 1280px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#wrapper9{
  width: 1280px;
  height: 890px;
  background-color: #000;
  float: left;
  position: relative;
}
#box100{
  font-family: BOXING;
 color :white;
 font-size: 60px;
 float: left;
 position: relative;
 bottom: 900px;
 left: 50px;
  box-sizing: border-box;
}
#box100:hover{
  opacity: 80%;
}
#box101{
  
 

 float: left;
 position: relative;
bottom: 720px;
right: 100px;
  box-sizing: border-box;
}
#box102{
  font-family: BOXING;
 color :white;
 font-size: 24px;
 float: left;
 position: relative;
 bottom: 1300px;
 left: 260px;

  box-sizing: border-box;
}
#box103{
  font-family: supermarket;
 color :white;
 font-size: 30px;
 float: left;
 position: relative;
 bottom: 1100px;
 left: 156px;

  box-sizing: border-box;
}
#box104{
  font-family: Leelawadee;
 color :white;
 font-size: 24px;
 float: left;
 position: relative;
 bottom: 1030px;
 right: 120px;

  box-sizing: border-box;
}
#box105{
  font-family: BOXING;
  color :white;
  font-size: 40px;
  float: left;
  position: relative;
  bottom: 1250px;
  left: 80px;
   box-sizing: border-box;
}
#boxerr{
  font-family: BOXING;
  color :white;
  font-size: 40px;
  float: left;
  position: relative;
  bottom: 1150px;
  left: 80px;
   box-sizing: border-box;
}


#box106 input{
  width: 264px;
  height: 53px;
  font-size: 16px;
  float: left;
  position: relative;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color:white;
  border: 2px solid var(--input-border);
bottom: 1100px;
right: 60px;
  color: #696868;

}
#box107 input{
  width: 264px;
  height: 53px;
  font-size: 16px;
  float: left;
  position: relative;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color:white;
  border: 2px solid var(--input-border);
bottom: 1050px;
left: 738px;
  color: #696868;

}
#box108 a{
  font-family: th sarabun new;
 color :#b3b3b3;
 font-size: 20px;
 float: left;
 position: relative;
 bottom: 985px;
 left: 665px;

  box-sizing: border-box;
}
#box108 a:hover{
  color: white;
}
section button {
  width: 257px;
  position: absolute;
  bottom: 180px;
  left: 745px;
  height: 64px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: #02a6a6;
  border: 1px solid transparent;
  
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section button:hover {
  background-color: #ffffff;
 
  border-color: #009ac9;
}
section button a{
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
section button a:hover{
  color: #009ac9;
  text-decoration: none;
}






